pre code {
  font-family: 'Fira Code', 'Menlo', 'Monaco', 'Courier New', Courier, monospace;
  font-size: 20px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

code::after {
  content: "|";
  font-weight: 300;
  animation: blinker 1s linear infinite;
}

.App::-webkit-scrollbar {
  width: 0
}
