/* some style here uses css taken from https://github.com/mdo/wtf-forms/ */

.App {
    width: 100vw;
    height: 100%;

    .InfoIcon {
        img {
            width: 32px;
            height: 32px;
            filter: brightness(50%);
        }

        position: absolute;
        top: 0;
        right: 0;
        z-index: 99;
        margin-top: 15px;
        margin-right: 20px;
        cursor: pointer;
    }

    .FakeCodeTyper {
        height: 100vh;
        width: 100vw;
    }
}
