.InfoPanel {
    position: absolute;
    top: 0;
    right: 0;
    width: max-content;
    padding-right: 25px;
    height: 100%;
    overflow-y: auto;
    background-color: #333639;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h1 {
        margin: 8px 15px 0 20px;
    }

    h2 {
        margin: 30px 15px 0 20px;
        font-weight: normal;
    }

    button {
        margin: 8px 15px 0 20px;
        padding: 8px 0;
        width: 15vw;
        border: none;
        font-family: inherit;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        background-color: #505357;
        color: #e6e6e6;
        border-radius: 5px;

        &:hover {
            background-color: #646464;
        }
    }

    select {
        margin: 8px 15px 0 20px;
        width: 15vw;
        border: none;
        font-family: inherit;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        background-color: #505357;
        color: #e6e6e6;
        border-radius: 5px;
    }

    input[type="number"] {
        margin: 8px 15px 0 20px;
        padding: 3px 8px;
        width: 15vw;
        border: none;
        font-family: inherit;
        font-size: 14px;
        font-weight: bold;
        background-color: #505357;
        color: #e6e6e6;
        border-radius: 5px;
    }

    #file {
        display: none;
    }

    p {
        margin-bottom: 0;
    }

    .footer {
        font-size: 16px;
        font-weight: lighter;
        margin-top: 2vh;
        padding-left: 20px;

        span {
            font-size: 10px;
        }
    }

    .description {
        margin: 0;
        margin-left: 20px;

        p {
            margin: 0;
            font-size: 13px;
            font-weight: lighter;
        }
    }
}

a {
    color: inherit;
    text-decoration-style: dotted;

    &:hover {
        color: #e6e6e6;
        text-decoration-style: solid;
    }
}
