.InfoPanel {
    position: absolute;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100vh;
    background-color: #333639;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    h1 {
        margin: 8px 15px 0 20px;
        align-self: flex-start;
    }

    #file {
        display: none;
    }

    p {
        margin-bottom: 0;
    }

    .credit {
        font-size: 16px;
        font-weight: lighter;
        margin-top: 2vh;
        padding-left: 20px;

        span {
            font-size: 10px;
        }
    }
}

a {
    color: inherit;
    text-decoration-style: dotted;

    &:hover {
        color: #e6e6e6;
        text-decoration-style: solid;
    }
}
