.PseudoCodeEditor {
  code {
    font-family: 'Fira Code', 'Menlo', 'Monaco', 'Courier New', Courier, monospace;
    font-size: 18px;

    @keyframes blinker {
      50% {
        opacity: 0;
      }
    }

    &::after {
      content: "|";
      font-weight: 300;
      animation: blinker 1s linear infinite;
    }
  }

  width: 100vw;
}
